body{
	background-image : url("Regest.jpg");
	background-size: cover;
}
.SignUpAdj {
	float : right;
	text-align : left;
}
#alignBtn {
	text-align : center;
}
.btn {
	background-color : #2F4F4F;
	color : white;
}